.carousel-inner {
}
.carousel-item {
}
.carousel-caption {
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	left: 0;
	height: 100%;
}
.carousel-caption {
	padding-top: 15rem;
}
.carousel-caption h3 {
	max-width: 900px;
	margin: 0 auto;
	font-size: 21px;
	font-weight: 500;
}
.new-year-img {
	max-width: 600px;
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;
}
